[profile.default]

[[profile.default.overrides]]
filter = 'package(e2e)'
threads-required = "num-cpus"
slow-timeout = "5m"

[profile.ci]
fail-fast = false

[[profile.ci.overrides]]
filter = 'package(e2e)'
threads-required = "num-cpus"
slow-timeout = "5m"
