# Workflows that run on pull requests. These are primarily CI checks for
# linting, formatting, testing, etc.
name: PR

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/*.md"
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    name: Build, check, and test Rust
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust
        run: |
          rustup toolchain install nightly
          rustup component add --toolchain nightly rustfmt
          rustup show

      - name: Install Rust tools
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
          cargo binstall cargo-nextest --secure

      - uses: actions/checkout@v4

      - name: Check format
        run: cargo +nightly fmt --all --check

      - name: Run full build
        run: cargo build --workspace --all-targets --all-features

      - name: Check clippy
        run: cargo clippy --workspace --all-targets --all-features

      # We need this so that we can install `hurry-cargo-rustc-wrapper`
      - name: Install `hurry` bins
        run: cargo install --path packages/hurry/ --locked

      - name: Run tests
        run: cargo nextest run --all-targets
        env:
          GITHUB_TOKEN: ${{ secrets.ATTUNE_REPOSITORY_TOKEN }}
