# Workflows that run on pull requests. These are primarily CI checks for
# linting, formatting, testing, etc.
name: PR

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/*.md"
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    name: Build, check, and test Rust
    runs-on: ubuntu-latest

    steps:
      - name: Install Rust
        run: |
          rustup toolchain install nightly
          rustup component add --toolchain nightly rustfmt
          rustup show

      - name: Install Rust tools
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
          cargo binstall cargo-nextest --secure

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgpg-error-dev libgpgme-dev pkg-config

      - uses: actions/checkout@v4

      - name: Cache directories
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cache/hurry
          key: hurry-cache-pr-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            hurry-cache-pr-${{ runner.os }}-

      - name: Install hurry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./install.sh --version v0.2.0-alpha.2
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      # TODO (maybe?): add `hurry cargo fmt` support.
      - name: Check format
        run: cargo +nightly fmt --all --check

      - name: Run full build
        run: hurry cargo build --workspace --all-targets --all-features

      # TODO: add `hurry cargo clippy` support.
      - name: Check clippy
        run: cargo clippy --workspace --all-targets --all-features

      - name: Run tests
        run: cargo nextest run
        env:
          GITHUB_TOKEN: ${{ secrets.ATTUNE_REPOSITORY_TOKEN }}
