# Workflows that run on pull requests. These are primarily CI checks for
# linting, formatting, testing, etc.
name: PR

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/*.md"
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    name: Build, check, and test Rust
    runs-on: ubuntu-latest
    env:
      HURRY_HOME: /tmp/hurry-home

    steps:
      - name: Install Rust
        run: |
          rustup toolchain install nightly
          rustup component add --toolchain nightly rustfmt
          rustup show

      - uses: actions/checkout@v4

      - name: Cache hurry home directory
        uses: actions/cache@v4
        with:
          path: ${{ env.HURRY_HOME }}
          key: hurry-cache-${{ runner.os }}

      - name: Install hurry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./install.sh --version v0.2.0-alpha.2
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Check format
        run: cargo +nightly fmt --all --check

      - name: Run full build
        run: hurry cargo build --workspace --all-targets --all-features
        env:
          HOME: ${{ env.HURRY_HOME }}

      - name: Check clippy
        run: cargo clippy --no-deps --workspace --all-targets --all-features

      # FIXME: Some of these tests do not yet pass on all filesystems.
      #
      # - name: Run tests
      #   run: cargo test --workspace --all-targets --all-features
